.main-wrapper{
    height: 100vh;
}

.section{
    margin: 0;
    height: 100%;
}

.logo{
    font-weight: bold;
    font-size: 7em;
}

.menu a{
    font-weight: 100;
}

.roundItem{
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 100%;
    position: relative;
    border: 2px solid rgb(255, 0, 0);
}

.lineUp{
    width: 26px;
    height: 4px;
    background-color: black;
    position: absolute;
    transform: rotate(90deg);
    bottom: 30px;
    left: -4px;
}

.year{
    position: absolute;
    right: 25px;
    font-size: 0.8em;
    color: rgb(109, 11, 94);
    font-weight: bold;
}

.timeline{
    margin-left: 5em;
    

}

img{
    border-radius: 20px;
}

.card-text{
    /*position: absolute;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}